.playing {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}
@keyframes bounce {
  10% {
    transform: scaleY(0.3);
   /* start by scaling to 30% */
 }
  30% {
    transform: scaleY(1);
   /* scale up to 100% */
 }
  60% {
    transform: scaleY(0.5);
   /* scale down to 50% */
 }
  80% {
    transform: scaleY(0.75);
   /* scale up to 75% */
 }
  100% {
    transform: scaleY(0.6);
   /* scale down to 60% */
 }
}
.playing span {
  width: 2px;
  height: 100%;
  background-color: #8c52ff;
  background-color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  border-radius: 2px;
  transform-origin: bottom;
  animation: bounce 1.2s ease infinite alternate;
  content: '';
}
.playing span:nth-of-type(2) {
  animation-delay: -1.2s;
 /* Start at the end of animation */
}
.playing span:nth-of-type(3) {
  animation-delay: -1.7s;
 /* Start mid-way of return of animation */
}
.playing span:nth-of-type(4) {
  animation-delay: -2.2s;
 /* Start mid-way of return of animation */
}
.playing span:nth-of-type(5) {
  animation-delay: -2.7s;
 /* Start mid-way of return of animation */
}
