.hidden{
    display: block;
  }

input.input-error,
select.input-error{
  border-color: #fc8181;
}

button.disabled{
  opacity: 0.35;
}

.errorMessage{
  font-size: 11px;
  color: red;
  margin-left: 12px;
}