:root{
  --secondary: #fff,
}

.container{
  max-width: 1280px;
  margin: 0px auto;
}

.cover_postion_btn{
    position: relative;
    bottom: 60px;
}



.image_boder{
  width: 180px;
  height: 180px;
  border: 2px dashed purple;
  border-image-slice: 1;
  border-radius:8px ;
  border-image-source: linear-gradient(to left, var(--pink), var(--blue));


}


.boder_line::after{
  content: " ";
 margin-bottom: 20px;
}
.cover_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: start;
  background-color: rgba(48, 48, 51, 0.4) !important;
  box-shadow: 0px -3px 6px #000000eb;
}

.artist_profile_postion{
  position: relative;
  bottom: 74px;
}

.cover{
  height: 180px;
}
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    max-height: 100%;
    border-radius: 0;
    margin: 0;
  }

  .menuber{
    background-color: #171717;
    width: 25% !important;
  }
  
  .drawer-animated {
    transform: translateX(100%);
  }
  
  .drawer-animated-slide-in {
    animation: slide-in 0.3s forwards;
  }
  
  .drawer-animated-slide-out {
    animation: slide-out 0.2s forwards;
  }

  .bg-main{
    bottom: 0px;
    box-shadow: 0px -3px 6px #000000eb;
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    backdrop-filter: blur(20px) saturate(100%);
    /* filter: blur(4px) saturate(100%); */
    background-color: rgba(0, 0, 0, 0.7);
  }
  .p-tabview-panels {
    padding: 0;
    min-height: 100vh;
}

.tab_bg > span{
    background: none !important;
    box-shadow: none !important;
  }

  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }


  .p-tabview-nav-content{
    display: none;
  }
  
  .p-tabview-panels{
    background-color: transparent;
  }

  .p-fileupload-content{
    background-color: black !important;
    padding: 10px;
  }

  .p-fileupload-buttonbar{
    background: linear-gradient(90deg, #fd5759 0%, #8c52ff 100%) !important;
  }