body {
  max-width: 768px;
  margin: 0px auto !important;
  display: block;
}
.hederbar {
  position: fixed;
  top: 0px;
  z-index: 0;
  width: 100%;
  background: none;
}

.menubar {
  position: relative;
  top: 60px;
  z-index: 2;
}

.music_type {
  font-size: 12px;
}

.scroll-sticky {
  background-color: #171717;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.scroll-sticky.hide {
  top: 0;
}
.scroll-sticky.hide-sticky {
  top: -6rem;
}

.scroll-top-tab {
  top: 45px;
}

.data-\[justify\=start\]\:basis-0[data-justify="start"] {
  flex-basis: auto !important;
}

.top-area {
  top: 60px;
  position: relative;
  z-index: 2;
}

span.absolute {
  width: 70px;
  background-color: blueviolet;
}

.image-text {
  bottom: 70px;
  display: block;
  color: var(--main-rintext-color);
  font-family: "Nunito Sans", sans-serif;
  font: normal 22px/40px "Nunito Sans", sans-serif;
  text-shadow: var(--text-shadow);
  width: 100%;
  position: absolute;
  text-align: center;
  word-break: break-word;
  letter-spacing: 2px;
  z-index: 100;
}

.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  mix-blend-mode: hard-light;
  -webkit-backdrop-filter: blur(0px) saturate(10%);
  backdrop-filter: blur(0px) saturate(10%);
  border-radius: 0.375rem;
  background: linear-gradient(
    to bottom,
    rgba(253, 87, 89, 1) 50%,
    rgba(140, 82, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}

.music-gradient {
  position: relative;
}

.music-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 0.375rem;
  background: linear-gradient(
    to bottom,
    rgba(77, 37, 75, 0) 0%,
    rgba(23, 23, 23, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}

.music_play_icon {
  position: absolute;
  bottom: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: start;
  background-color: rgba(48, 48, 51, 0.4);
  box-shadow: 0px -3px 6px #000000eb;
}

.img_play_icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: start;
  background: none;
  left: 20%;
  z-index: 1;
}
.view-all {
  color: var(--view-all-text);
}

.swiper-wrapper {
  display: flex !important;
  height: auto;
}

.title {
  font-size: 20px;
}

.crbt_child {
}

.play_music_name {
  font-size: 16px;
}

.footer_player {
  width: 100%;
}

.fixed-bottom {
  bottom: 10px;
  max-width: 768px;
  margin: 0px auto;
  box-shadow: 0px -3px 6px #000000eb;
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    backdrop-filter: blur(20px) saturate(100%);
    /* filter: blur(4px) saturate(100%);  */
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-none {
  background: none;
}

@media screen and (max-width: 420px) {
  span.absolute {
    width: 64px;
  }

  .image-text {
    bottom: 70px;
    font: normal 18px/20px "Nunito Sans", sans-serif;
  }
  .title {
    font-size: 17px;
  }
}
